## Data cleaning With Pandas

In [3]:
## Import necessary libraries
import pandas as pd
import os
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'billboard.csv',
 'country_timeseries.csv',
 'data_clean.ipynb',
 'data_cleaning.ipynb',
 'pew.csv',
 'README.md',
 'weather.csv']

In [16]:
pew = pd.read_csv("pew.csv")

## used the head() funtion to reduce data to the first few rows

In [5]:
pew.head()

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116

In [7]:
pew.shape

(18, 11)

In [8]:
pew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 11 columns):
religion              18 non-null object
<$10k                 18 non-null int64
$10-20k               18 non-null int64
$20-30k               18 non-null int64
$30-40k               18 non-null int64
$40-50k               18 non-null int64
$50-75k               18 non-null int64
$75-100k              18 non-null int64
$100-150k             18 non-null int64
>150k                 18 non-null int64
Don't know/refused    18 non-null int64
dtypes: int64(10), object(1)
memory usage: 1.6+ KB

In [9]:
pew.head()

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116

In [12]:
pew_long = pd.melt( pew,
                    id_vars = "religion",
                    var_name = "salary",
                    value_name = "count"
                    )

In [22]:
pew_long.head()

             religion salary  count
0            Agnostic  <$10k     27
1             Atheist  <$10k     12
2            Buddhist  <$10k     27
3            Catholic  <$10k    418
4  Don’t know/refused  <$10k     15

In [23]:
pew.index

RangeIndex(start=0, stop=18, step=1)

In [27]:
pew.column

AttributeError: 'DataFrame' object has no attribute 'column'